/* fix problem scroll spy with work & education */
.ResumeWorkAndEducationBlock .container {
    padding-bottom: 0px !important;
}

.ResumeWorkAndEducationBlock #Resume-education {
    padding-bottom: 69px;
}
.vertical-timeline-element-title {
    font-size: 22px ;
    font-weight: bold;
}
.vertical-timeline-element-subtitle {
    font-size: 17px ;
}
.vertical-timeline-element-detail {
    font-size: 15px ;
}