@import '../../theme/variables';
.header {
    background: $dark-gray1-color;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position:absolute;
    left: 0;
    top: 0;

  }
  
  .brand {
    color: $white-color;
    text-decoration: none !important;
    &__link {
      padding: 1rem;
      color: $green1-color;
      text-decoration: none !important;
    }
    &__link {
      padding: 1rem;
      color: $green1-color;
      text-decoration: none !important;
      &:hover {
        color:$white-color-hover-link;
      }
      &:focus {
        color: $green1-color;
      }
    }
  }
  .link {
    color: $green1-color;
    text-decoration: none !important;
  }
  
  .menu {
    float: right;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  
    &__item {
      display: inline-block;
      vertical-align: middle;
    }
  
    &__link {
      padding: 1rem;
      color: $green1-color;
      text-decoration: none !important;
    }
    &__link {
      padding: 1rem;
      color: $green1-color;
      text-decoration: none !important;
      &:hover {
        color:$white-color-hover-link;
      }
      &:focus {
        color: $green1-color;
      }
    }
  }

  .typing-style {
    padding-left: 10px; 
    font-weight: bold;
    color:$green1-color;
  }

