
.ResumeSkillsBlock-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ResumeSkillsBlock-skills-heading h2{

    color: #000;
    font-size: 34px;
    font-weight: bold;
}


.ResumeSkillsBlock-skills > div {
    width: 23%;
    text-align: center;
    margin-bottom: 15px;
}

.ResumeSkillsBlock-skills svg {
    width: 60px;
    height: 60px;
}

.ResumeSkillsBlock-skills svg path,
.ResumeSkillsBlock-skills svg g {
    fill: #fff !important;
}

.ResumeSkillsBlock-tools {
    text-align: center;
}

.ResumeSkillsBlock-tools p {
    margin-top: 0;
    padding-top: 0;
}
.ResumeSkillsBlock-card {
    border-radius: 10px !important;
}
.ResumeSkillsBlock-card:hover {
    animation: bounceOutKey .4s linear;
}

@keyframes bounceOutKey {
    0% {
      box-shadow: 0 0 0 1px #18d8a9;
      opacity: 1;
    }
    25% {
      box-shadow: 0 0 0 1px #18d8a9;
      opacity: 1;
    }
    50% {
      box-shadow: 0 0 0 7px #18d8a9;
      opacity: 1;
    }
    75% {
      box-shadow: 0 0 0 4px #18d8a9;
      opacity: 1;
    }
    100% {
      box-shadow: 0 0 0 1px #18d8a9;
      opacity: 1;
    }
  }
  


@media only screen and (max-width: 800px) {
    .ResumeSkillsBlock-skills {
        justify-content: space-around;
    }

    .ResumeSkillsBlock-skills > div {
        width: 45%;
    }
}

@media only screen and (max-width: 480px) {
    .ResumeSkillsBlock-skills {
        justify-content: center;
    }

    .ResumeSkillsBlock-skills > div {
        width: 90%;
    }

    .ResumeSkillsBlock-skills svg {
        width: 60px;
        height: 60px;
    }
}
